* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAVBAR */

#header {
    width: 100%;
    height: auto;
    z-index: 99;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("../img/menu.png");
    height: 37px;
    width: 37px;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.nav-link {
    color: #F0F0F0 !important;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem 1rem;
}

/* LOGIN STRANICA */

#loginForm {
    width: 90%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    text-align: center;
}

input[type="text"], input[type="password"] {
    border: 5px solid #DFDFDF;
    font-style: italic;
}

button[type="submit"] {
    width: 80%;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #00AEEF;
    border: none;
}

.page-title {
    font-weight: bold;
    margin: 8rem 2rem 3rem 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

/* TIMOVI STRANICA */

.teams .card {
    width: 10rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.teams .card-title {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

/* RASPORED STRANICA */

.accordion .card {
    margin: 1rem;
    background-color: #353535;
}

.accordion .card-body {
    background-color: #CDCDCD;
    border: 5px solid #353535;
}

.accordion button {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}

.list-group .list-group-item {
    align-items:center;
    text-align:center;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #353535;
}
.list-group .list-group-item:last-of-type {
    border-bottom: none;
}

.list-group .list-group-item h3 {
    font-size:1.1rem;
}

.list-group .list-group-item .picture img {
    border-radius: 50%;
}
